dist/ajax/popup-feedback.html
<div class="popup">
	<div class="arcticmodal-close popup__close"><i class="fa fa-times"></i>
	</div>
	<div class="h1 title-underline title-underline--center title-no-offset">Написать нам</div>
	<form action="">
		<input class="input-style popup__input" type="text" name="login" placeholder="Ваше имя *" required>
		<input class="input-style error popup__input" type="email" name="email" placeholder="Электронная почта *" required>
		<textarea class="input-style popup__textarea" name="text" placeholder="Текст сообщения *"></textarea>
		<div class="popup__conditions">
			<label class="ui-checkbox">
				<input class="visuallyhidden ui-checkbox__input" type="checkbox" checked><i class="fa fa-check ui-checkbox__icon"></i><span class="ui-checkbox__text">Согласие на обработку персональных данных</span>
			</label>
		</div>
		<div class="popup__btn-wrap">
			<button class="btn btn--red popup__btn">Отправить</button>
		</div>
	</form>
</div>

app/templates/ajax/popup-feedback.jade
extends _layout-modal
block modal-content
	.h1.title-underline.title-underline--center.title-no-offset Написать нам

	form(action="")
		input.input-style(elem="input" type="text" name="login" placeholder="Ваше имя *" required="")
		input.input-style.error(elem="input" type="email" name="email" placeholder="Электронная почта *" required="")
		textarea.input-style(elem="textarea" name="text" placeholder="Текст сообщения *")

		div(elem="conditions")
			+checkbox({
				labelText: 'Согласие на обработку персональных данных'
			})(checked="")

		div(elem="btn-wrap")
			button.btn.btn--red(elem="btn") Отправить
