dist/ajax/popup-request.html
<div class="popup">
	<div class="arcticmodal-close popup__close"><i class="fa fa-times"></i>
	</div>
	<div class="h1 title-underline title-underline--center title-no-offset">Оставить заявку</div>
	<form action="">
		<input class="input-style popup__input" type="text" name="login" placeholder="Ваше имя *" required>
		<input class="input-style popup__input" type="text" name="tel" placeholder="Номер телефона *" required>
		<div class="popup__conditions">
			<label class="ui-checkbox">
				<input class="visuallyhidden ui-checkbox__input" type="checkbox" checked><i class="fa fa-check ui-checkbox__icon"></i><span class="ui-checkbox__text">Согласие на обработку персональных данных</span>
			</label>
		</div>
		<div class="popup__btn-wrap">
			<button class="btn btn--red popup__btn">Отправить</button>
		</div>
	</form>
</div>

app/templates/ajax/popup-request.jade
extends _layout-modal
block modal-content
	.h1.title-underline.title-underline--center.title-no-offset Оставить заявку

	form(action="")
		input.input-style(elem="input" type="text" name="login" placeholder="Ваше имя *" required="")
		input.input-style(elem="input" type="text" name="tel" placeholder="Номер телефона *" required="")

		div(elem="conditions")
			+checkbox({
				labelText: 'Согласие на обработку персональных данных'
			})(checked="")

		div(elem="btn-wrap")
			button.btn.btn--red(elem="btn") Отправить
